{% extends 'base.html' %}
{% load static %}

{% block title %}
تواصل معنا | قلب الحافظ
{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/contact.css' %}">

{% endblock %}

{% block content %}

<section class="contact-page">

    <div class="container">

        <!-- =======================
                PAGE TITLE
        ======================== -->

        <div class="section-title">

            <h1>

                تواصل معنا

            </h1>

        

        </div>

        <!-- =======================
                CONTACT CARD
        ======================== -->

        <div class="contact-wrapper">

            <!-- =======================
                    IMAGE
            ======================== -->

            <div class="contact-image">

                <img

                    src="{% static 'images/quran-banner.jpeg' %}"

                    alt="Contact"

                >

            </div>

            <!-- =======================
                    FORM
            ======================== -->

           <div class="contact-form-card">

    <div class="contact-info">

        <div class="contact-icon">

            <i class="fa-solid fa-comments"></i>

        </div>

        <h2>
            يسعدنا التواصل معك
        </h2>

        <p class="contact-text">
            إذا كان لديك أي استفسار أو اقتراح أو ترغب بالإبلاغ عن مشكلة،
            يمكنك التواصل معنا مباشرة عبر الوسائل التالية.
        </p>

        <div class="info-card">

            <i class="fa-brands fa-whatsapp"></i>

            <div>

                <span class="info-title">
                    واتساب
                </span>

                <span class="info-value">
                    +962 78 765 3122
                </span>

            </div>

        </div>

        <div class="info-card">

            <i class="fa-solid fa-envelope"></i>

            <div>

                <span class="info-title">
                    البريد الإلكتروني
                </span>

                <span class="info-value">
                    ihababbas26@gmail.com
                </span>

            </div>

        </div>

        <a href="https://wa.me/962787653122?text=السلام عليكم، أرغب بالاستفسار عن منصة قلب الحافظ."
           target="_blank"
           class="submit-btn whatsapp-btn">

            <i class="fa-brands fa-whatsapp"></i>

            تواصل عبر واتساب

        </a>

        <a href="mailto:ihababbas26@gmail.com"
           class="submit-btn email-btn">

            <i class="fa-solid fa-envelope"></i>

            إرسال بريد إلكتروني

        </a>

    </div>

</div>

        </div>

    </div>

</section>

{% endblock %}

{% block extra_js %}

<script>

document.querySelectorAll("input, textarea").forEach(field=>{

    field.classList.add("form-control");

});

</script>

{% endblock %}