{% extends 'base.html' %}
{% load static %}

{% block title %}
قلب الحافظ
{% endblock %}

{% block content %}

<section class="hero">

    <div class="container">

        <!-- عنوان الصفحة -->

        <div class="hero-title">

            <h1>  اختر نوع الاختبار أو اللعبة التي ترغب باستخدامها </h1>

            <p>
                
            </p>

        </div>

        <!-- البطاقات -->

        <div class="services-grid">

            <!-- اختبار جزء واحد -->

            <a href="/single/" class="service-card">

                <div class="card-icon">
                    🎯
                </div>

                <h3>اختبار جزء واحد</h3>

                <p>
                    اختيار جزء واحد وتحديد عدد المواضع داخل الجزء للاختبار.
                </p>

                <span class="card-btn">
                    الدخول
                </span>

            </a>

            <!-- اختبار الأجزاء -->

            <a href="/multi/" class="service-card">

                <div class="card-icon">
                    📊
                </div>

                <h3>اختبار الأجزاء</h3>

                <p>
                    اختيار عدة أجزاء ثم السحب العشوائي منها مع تحديد مواضع الاختبار.
                </p>

                <span class="card-btn">
                    الدخول
                </span>

            </a>
           <a href="/games/memory/" class="service-card">

    <div class="card-icon">
        🤔
        <i class="fa-solid fa-brain"></i>

    </div>

    <h3>

        لعبة الذاكرة

    </h3>

    <p>

        طابق أسماء سور القرآن الكريم بأقل عدد من المحاولات وفي أسرع وقت.

    </p>

    <span class="card-btn">

        ابدأ اللعب

    </span>

</a>
            <!-- لعبة ترتيب السور -->

            <a href="/games/surah-order/" class="service-card">

                <div class="card-icon">
                    🧩
                </div>

                <h3>لعبة ترتيب السور</h3>

                <p>
                    لعبة تفاعلية تساعد على حفظ وترتيب سور القرآن الكريم.
                </p>

                <span class="card-btn">
                    اسحب السور وأفلتها حتى تصبح مرتبة حسب ترتيبها في المصحف الشريف.
                </span>

            </a>

            <!-- لعبة ترتيب الآيات -->

            <a href="/games/pagenumber/" class="service-card">

                <div class="card-icon">
                    📖
                </div>

                <h3>لعبة رقم الصفحة </h3>

                <p>
                    تدريب تفاعلي لتثبيت الحفظ ومراجعة الصفحات.
                </p>

                <span class="card-btn">
                    يتم عرض رقم الصفحة وعليك معرفة الجزء والسورة التي تبدأ فيها هذه الصفحة.
                </span>

            </a>
            <a href="/games/surah-ayahs/" class="service-card">

                <div class="card-icon">
                    #️⃣
                </div>

                <h3>لعبة عدد الآيات </h3>

                <p>
                    تدريب تفاعلي لتثبيت الحفظ ومراجعة عدد آيات السور.
                </p>

                <span class="card-btn">
                    يتم عرض السورة وعليك معرفة عدد آياتها.
                </span>

            </a>
        </div>

    </div>

</section>

{% endblock %}