{% load static %}

<footer class="footer">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

    <div class="footer-container">

        <!-- Logo & Description -->
        <div class="footer-logo">

            <!-- <img src="{% static 'images/logo.png' %}" alt="قلب الحافظ"> -->

            <h2>قلب الحافظ</h2>

            <p>
                منصة متخصصة في إنشاء اختبارات حفظ القرآن الكريم
                بطريقة احترافية تساعد المعلمين والطلاب على المراجعة
                والتقييم بسهولة.
            </p>

            <div class="footer-social">

                <a href="#" aria-label="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <a href="#" aria-label="LinkedIn">
                    <i class="fab fa-linkedin-in"></i>
                </a>

                <a href="https://github.com/ihababbas"
                   target="_blank"
                   aria-label="GitHub">
                    <i class="fab fa-github"></i>
                </a>

                <a href="#" aria-label="WhatsApp">
                    <i class="fab fa-whatsapp"></i>
                </a>

            </div>

        </div>

        <!-- Quick Links -->

        <div>

            <h3 class="footer-title">

                روابط سريعة

            </h3>

            <ul class="footer-links">

                <li>
                    <a href="/">الرئيسية</a>
                </li>



                <li>
                    <a href="/about/">من نحن</a>
                </li>

                <li>
                    <a href="/contact/">تواصل معنا</a>
                </li>

            </ul>

        </div>

        <!-- Contact -->

        <div>

            <h3 class="footer-title">

                تواصل معنا

            </h3>

            <div class="footer-contact">

                <div>

                    <i class="fas fa-location-dot"></i>

                    <span>Amman, Jordan</span>
                    

                </div>
                 <span>تحفيظ متابعة وتسميع </span>
                <span>  احجز جلستك الأولى </span>
                

                <div>

                    <i class="fas fa-envelope"></i>

         

                </div>

                <div>

                    <i class="fab fa-github"></i>

                    <!-- <span>github.com/ihababbas</span> -->

                </div>

            </div>

        </div>

    </div>

    <div class="footer-bottom">

        <div class="footer-bottom-content">

            <p>

                © 2026 <span>Quran Draw</span>. جميع الحقوق محفوظة.

            </p>

            <p>

                Made with ❤️ for Quran Teachers

            </p>

        </div>

    </div>

</footer>