{% load static %}

<div class="top-bar">

    <div class="container">

        <!-- التاريخ الهجري -->
        <div class="top-item">

            <i class="fa-solid fa-calendar-days"></i>

            <span id="headerHijri">
                ...
            </span>

        </div>

        <!-- الصلاة القادمة -->
        <div class="top-item">

            <i class="fa-solid fa-mosque"></i>

            <span id="headerPrayer">
                ...
            </span>

        </div>

        <!-- العد التنازلي -->
        <div class="top-item">

            <i class="fa-solid fa-clock"></i>

            <span id="headerCountdown">
                ...
            </span>

        </div>

    </div>

</div>